.accordion {
  display: flex;
}

.accordion-item {
  border: 1px solid black;
  display: flex;
  height: 150px;
}

.accordion-header {
  display: flex;
  align-items: center;
  background-color: lightgray;
  cursor: pointer;
}
.accordion-header img{
  padding-left: 20px;
  display: flex;
  align-items: center;
}
.accordion-header span{
  display: flex;
  transform: rotate(-90deg);
}

.accordion-content {
  padding: 10px;
  display: none;
}

.accordion-item.active .accordion-content {
  display: block;
}
