  <link rel="stylesheet" href="styles/main.css" />
  <link rel="stylesheet" href="styles/reg-log.css"/>
  <link rel="stylesheet" href="styles/in-out.css" />
  <div class="main">
     <h1>Редактирование дохода/расхода</h1>
      <div class="create-category">
        <input
          readonly
          id="select"
          type="text"
          class="form-control cat-add hov border-all"
          placeholder="Тип"
          aria-label="type"
        />
        <input
          readonly
          id="category"
          type="text"
          class="form-control cat-add hov border-all"
          placeholder="Категория"
          aria-label="cat-sum"
        />
        <input
          id="summ"
          type="text"
          class="form-control cat-add hov border-all"
          placeholder="Сумма в ₽..."
          aria-label="cat-sum"
        />
        <input
          id="date"
          type="text"
          class="form-control cat-add hov border-all"
          placeholder="Дата..."
          aria-label="cat-date"
        />
        <input
          id="comment"
          type="text"
          class="form-control cat-add hov border-all"
          placeholder="Комментарий..."
          aria-label="cat-comment"
        />
      </div>
      <div class="card-buttons card-buttons-сс">
        <div class="card-btn green hov" id="saveData">Сохранить</div>
        <div class="card-btn red hov">
          <a class="card-btn" href="#/in-out">Отмена</a>
        </div>
      </div>
    </div>
  </div>
