<link rel="stylesheet" href="styles/main.css" />
<link rel="stylesheet" href="styles/reg-log.css" />
<link rel="stylesheet" href="styles/index.css" />
<link rel="stylesheet" href="styles/in-out.css" />
<div class="main">
  <h1>Доходы и расходы</h1>
  <div class="card-buttons card-buttons-bb">
    <a href="#/in-out-add">
      <div class="card-btn green hov create" id="in">Создать доход</div>
    </a>
    <a href="#/in-out-add" id="out">
      <div class="card-btn red hov create">Создать расход</div>
    </a>
  </div>
  <div class="button-panel">
    <button class="panel-btn hov" id="today">Сегодня</button>
    <button class="panel-btn hov" id="week">Неделя</button>
    <button class="panel-btn hov" id="month">Месяц</button>
    <button class="panel-btn hov" id="year">Год</button>
    <button class="panel-btn hov" id="all">Все</button>
    <button class="panel-btn hov" id="interval">Интервал</button>
    <span>c</span>
    <div class="date hov">
      <input type="text" id="date-start" placeholder="Дата" />
    </div>
    <span>по</span>
    <div class="date hov">
      <input type="text" id="date-end" placeholder="Дата" />
    </div>
  </div>
  <div class="table" id="table">
    <div class="table-header">
      <div class="header-elem he-number">№ операции</div>
      <div class="header-elem he-type">Тип</div>
      <div class="header-elem he-category">Категория</div>
      <div class="header-elem he-sum">Сумма ₽</div>
      <div class="header-elem he-date">Дата</div>
      <div class="header-elem he-comment">Комментарий</div>
    </div>
    <div id="table-rows"></div>
  </div>
</div>
