<link rel="stylesheet" href="styles/main.css" />
<link rel="stylesheet" href="styles/reg-log.css" />
<link rel="stylesheet" href="styles/in-out.css" />

<div class="main">
  <h1>Редактирование категории доходов</h1>
  <div class="create-category">
    <input
      id="red-category"
      type="text"
      class="form-control cat-add hov"
      placeholder="Название..."
    />
    <div class="card-buttons card-buttons-сс">
      <div class="card-btn green hov" id="reduct">Сохранить</div>
      <div class="card-btn red hov">
        <a class="card-btn" href="/#/in">Отмена</a>
      </div>
    </div>
  </div>
</div>
