  <link rel="stylesheet" href="styles/main.css" />
  <link rel="stylesheet" href="styles/reg-log.css" />
  <link rel="stylesheet" href="styles/index.css" />
  <link rel="stylesheet" href="styles/in-out.css" />

  <div class="main">
    <h1>Главная</h1>
    <div class="button-panel">
      <button class="panel-btn hov" id="today">Сегодня</button>
      <button class="panel-btn hov" id="week">Неделя</button>
      <button class="panel-btn hov" id="month">Месяц</button>
      <button class="panel-btn hov" id="year">Год</button>
      <button class="panel-btn hov" id="all">Все</button>
      <button class="panel-btn hov" id="interval">Интервал</button>
      <span>c</span>
      <div class="date hov">
        <input type="date" id="date-start" placeholder="Дата" />
      </div>
      <span>по</span>
      <div class="date hov">
        <input type="date" id="date-end" placeholder="Дата" />
      </div>
    </div>
    <div class="main-pies" id="main-pies"></div>
  </div>