<link rel="stylesheet" href="styles/main.css" />
<link rel="stylesheet" href="styles/reg-log.css" />
<link rel="stylesheet" href="styles/in-out.css" />

<div class="main">
  <div class="popup" id="popup-category">
    <div class="sure">
      <div class="sure-text">
        Вы действительно хотите удалить категорию и все связанные с ней
        операции?
      </div>
      <div class="card-buttons">
        <div class="card-btn green hov" id="delete-category">Да, удалить</div>
        <div class="card-btn red hov" id="dont-delete-category">Не удалять</div>
      </div>
    </div>
  </div>
  <h1>Расходы</h1>
  <div class="cards" id="cards"></div>
</div>
