<section>
  <link rel="stylesheet" href="styles/main.css" />
  <link rel="stylesheet" href="styles/reg-log.css" />
  <div class="container conteiner-reg">
    <form action="">
      <a href="#/login"
        ><img class="logo-reg" src="static/images/Logo.png" alt="Logo"
      /></a>
      <h1>Создайте аккаунт</h1>
      <div class="input-group hov">
        <span>
          <img src="static/images/person.png" alt="mail" />
        </span>
        <input
          class="form-control border-none"
          type="text"
          placeholder="ФИО"
          aria-label="name"
          id="name"
        />
      </div>

      <div class="input-group hov">
        <span>
          <img src="static/images/mail.png" alt="mail" />
        </span>
        <input
          type="text"
          class="form-control border-none"
          placeholder="Электронная почта"
          aria-label="email"
          id="email"
        />
      </div>
      <div class="input-group hov">
        <span>
          <img src="static/images/lock.png" alt="lock" />
        </span>
        <input
          type="text"
          class="form-control border-none"
          placeholder="Пароль"
          aria-label="password"
          id="password"
        />
      </div>
      <div class="input-group last hov">
        <span>
          <img src="static/images/lock.png" alt="lock" />
        </span>
        <input
          type="text"
          class="form-control border-none"
          placeholder="Подтверждение пароля"
          aria-label="re-password"
          id="re-password"
        />
      </div>
      <button id="submitButton" type="button" class="btn reg-btn hov">
        Зарегистрироваться
      </button>
      <div class="reglink">
        Уже есть аккаунт? <a href="#/login">Войдите в систему</a>
      </div>
    </form>
  </div>
</section>
